/**
* Extend Tailwind utilities
*/

@layer utilities {
    .saturate-to-white {
        filter: brightness(0) saturate(100%) invert(100%) sepia(64%)
            saturate(0%) hue-rotate(235deg) brightness(106%) contrast(106%);
    }
    [v-cloak] {
        @apply !hidden;
    }
}
