/**
* Import layouts
* UIpress
*/

#editor {
    /* .interface-interface-skeleton {
        @apply !left-9;
    } */
    /* .postbox {
        @apply !drop-shadow-none !border-0 !rounded-none;

        &-header {
            @apply bg-neutral-100;
            h2 {
                @apply px-3.5 font-medium !important;
            }
        }
    } */
}

html[uip-admin-theme='true'] {
    /*  .select2 {
        &-container,
        &-search__field {
            filter: grayscale(1) !important;
        }
    } */
}
