<script>
import Glider from 'glider-js'

export default {
    name: 'WyxosGlider',
    props: {
        config: {
            type: Object
        }
    },
    setup() {
        return {
            glider: null
        }
    },
    data() {
        return {
            id: `glider-${this.$.uid}`
        }
    },
    mounted() {
        this.glider = new Glider(this.$refs.glider, {
            dots: `#${this.id} .dots`,
            ...this.config
        })
    },
    beforeUnmount() {
        this.glider.destroy()
    }
}
</script>

<template>
    <div v-bind:id="id" class="glider-contain">
        <div ref="glider" class="glider">
            <slot></slot>
        </div>
        <button aria-label="Previous"
            class="glider-prev w-14 h-14 text-white bg-blue-700 rounded-full flex justify-center items-center">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                stroke="currentColor" class="w-6 h-6">
                <path stroke-linecap="round" stroke-linejoin="round" d="M19.5 12h-15m0 0l6.75 6.75M4.5 12l6.75-6.75" />
            </svg>
        </button>
        <button aria-label="Next"
            class="glider-next w-14 h-14 text-white bg-blue-700 rounded-full flex justify-center items-center">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                stroke="currentColor" class="w-6 h-6">
                <path stroke-linecap="round" stroke-linejoin="round" d="M4.5 12h15m0 0l-6.75-6.75M19.5 12l-6.75 6.75" />
            </svg>
        </button>
        <footer role="tablist" class="dots !mt-8"></footer>
    </div>
</template>
