/**
* Glider
* @see https://nickpiscitelli.github.io/Glider.js/
*/

@import url('glider-js/glider.min.css');

.glider-contain {
    .glider {
        @apply overflow-hidden;
    }

    .glider-dot {
        &.active {
            @apply bg-blue-200;
        }
    }

    &.thumbnails {
        .glider-track {
            @apply space-x-4;
        }
        .glider-dot {
            &.active {
                @apply bg-zinc-600;
            }
        }

        .glider-next,
        .glider-prev {
            &.disabled {
                @apply hidden;
            }
        }

        .glider-prev {
            left: -70px;
        }

        .glider-next {
            right: -70px;
        }
    }

    &.fade {
        .glider-slide {
            @apply transition ease-in-out;
            opacity: 0;
            &.visible {
                opacity: 1;
            }
        }
    }
}
