/**
* GDPR Cookie compliance
*/

#cmplz-document {
    @apply !max-w-full !prose 2xl:!prose-xl;
    p,
    li {
        font-size: inherit;
    }

    summary {
        h3 {
            @apply !text-base;
        }
    }

    .cmplz_consent_per_service_label {
        @apply !mt-8;
        grid-area: paragraph;
    }
}
