/**
* Forminator Pro UI
*/

.forminator {
    &-ui {
        @apply !mt-2;
    }
    &-response-message {
        @apply !mb-4 bg-neutral-100;
        &:before {
            @apply mr-4;
        }
    }

    &-label,
    &-input,
    &-select {
        @apply !text-black !shadow-none;
    }

    &-label {
        @apply !mb-2 !font-normal !text-sm !text-inherit;
    }

    &-input,
    &-textarea {
        @apply !font-sans !rounded !bg-white !p-3 !drop-shadow-3xl;
    }

    &-response-message {
        @apply !font-sans !rounded !bg-white !p-3 !drop-shadow-3xl;
    }

    &-button-submit {
        @apply !inline-flex !text-center !items-center !justify-center !overflow-hidden !w-auto lg:!w-max !text-sm xl:!text-base !bg-blue-700 !text-white !font-medium !rounded !py-3 !px-7 focus:!outline-none;

        &:hover,
        &:active {
            @apply !bg-blue-900 !shadow-none;
        }
    }

    &-repeater-label {
        @apply !text-black !text-2xl !mb-8 !font-semibold;
    }

    &-all-group-copies {
        @apply !bg-transparent !shadow-none !p-0;
    }

    &-repeater-action-button {
        @apply !hidden;
    }

    &-checkbox__wrapper {
        .forminator-checkbox-box {
            @apply !bg-white !drop-shadow-3xl;
        }
        .forminator-checkbox__label {
            p {
                @apply !mt-0;
            }
        }
    }

    &-select {
        .select2-selection {
            @apply !font-sans !rounded !bg-white !p-1 !drop-shadow-3xl;
        }
    }

    &-grecaptcha-badge {
        @apply !drop-shadow-3xl;
    }

    &-separator {
        @apply relative !pt-5;

        &:before {
            @apply w-full h-px bg-hr absolute top-0 left-0;
            content: '';
        }
    }
}
