/**
* Glider
* @see https://nickpiscitelli.github.io/Glider.js/
*/

article {
    &.prose {
        table {
            th,
            td {
                @apply align-middle;
            }
        }
    }
}
