/**
* Typography
*/

.prose {
    table {
        @apply bg-white border-2 border-grey-200;
        tr {
            &:first-child {
                @apply bg-blue-700 text-white font-semibold;
                td {
                    @apply border-blue-700;
                }
            }
        }
        td {
            @apply border-2 border-grey-200 text-center p-4;
        }
    }

    iframe {
        @apply w-full aspect-video h-auto;
    }
}
